/* Global */

.row {
    --bs-gutter-x: align-items;
}

/* Navbar */

nav a.active,
nav a:hover {
    text-decoration: underline;
}

.navbar {
    background-color: #DAB089 !important;
    text-decoration: none !important
}

/* Landing Page */

#landing {
    background-image: url('./assets/images/landing.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* AuthForm */

#authForm {
    background-image: url('./assets/images/register_login.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* Cuisines */

#cuisines {
    background-image: url('./assets/images/cuisines.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* Add Recipe */

#recipeForm {
    background-image: url('./assets/images/recipe_form.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.formStyle {
    padding-top: 200px;
}

/* Footer */

footer {
    background-color: #DAB089;
}

footer p {
    margin-bottom: 0;
}

/* MEDIA QUERY */

@media (max-width: 750px) {
    #authForm {
        background-size: cover;
    }
}